@media(max-width:952px){
    .img-1{
        font-size: 130px;
        padding-left: 50px;
    }
   
    nav ul li a{
        font-size: 16px;
        
    }
}
@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #fffdfd;
        top: 130px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color:#0082e6 ;
    }
    #check:checked ~ ul{
        left: 0;
    }
   
     .sec-2{
      display: none;
    }
}