body{
  background-color: rgb(51, 3, 56);
  
}
/*header*/

header{
    position: fixed;
    width: 105%;
}
nav{
    background-color: aliceblue;
    height: 130px;
    
}
.img-1{
    padding: 0 150px;
    

}
nav ul{
    float: right;
    margin-right: 60px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 25px 35px ;
    font-family: 'Dancing Script', cursive;
  
}
nav ul li a{
    color:rgb(123, 38, 133);
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
a.active,a:hover{
    background-color: rgb(241, 201, 251);
    transition: .5s;
}
.checkbtn{
    font-size: 20px;
    float: right;
    line-height: 70px;
    margin-right: 60px;
    margin-top: 30px;
    cursor: pointer;
    display: none;
   
}
#check{
    display: none;
}
.slick-slider{
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
    padding: 180px 0 ;
    

}


.slick-slide img{
    max-width: 100%;
    transition: all 0.4s ease-in-out;
}
.slick-center{
    transform: scale(1.1);
}
.slick-prev{
    margin-left: -50px;
}

/*section - 2 - */

.img-2{
    display: inline-block;
}
.div-1{
    display: inline-block;
    font-size: 22px;
    position: absolute;
    margin-top: 100px;
    margin-left: 10px;
    width: 280px;
    
}
.h1-1{
    font-family: 'Marck Script', cursive;
    color: gold;
 
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}
.h5-1{
    color: rgba(245, 245, 245, 0.823);
    font-family: 'Tsukimi Rounded', sans-serif;
}
.div-2{
    display: inline-block;
    font-size: 22px;
    position: absolute;
    margin-top: 270px;
    margin-left: 70px;
    width: 280px;
    
}
.div-3{
    display: inline-block;
    font-size: 22px;
    position: absolute;
    margin-top: 430px;
    margin-left: 130px;
    width: 280px;
    
}
.div-4{
    display: inline-block;
    font-size: 22px;
    position: absolute;
    margin-top: 150px;
    margin-left: 430px;
    width: 280px;
}
.div-5{
    display: inline-block;
    font-size: 22px;
    position: absolute;
    margin-top: 330px;
    margin-left: 530px;
    width: 280px;
}
